#wrapper {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#editor {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#viewer {
    height:95%;
    padding: 0 0 0 0;
}

#viewer_section {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
}

#viewer_section {
}

#viewer_section .btn {
    height: 5%;
    border-radius:0px;
}
